# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# dotenv environment variable files
.env

# build output
/build/

# Dependency directories
/node_modules/

*.iml
/.idea/